@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root{
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGray: #ececec;
    --mainLightBeige: rgb(231, 226, 221);
    --mainOverlay: rgb(240, 157, 81, 0.5);
    --mainSpacing: 0.1rem;
    --mainTrainsition: all 0.3s linear;
    --mainTranslate: translateX(0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

a{
    text-decoration: none;
    color: var(--mainBlack);
}

a:hover{
    color: var(--mainBlack);
}

a:visited{
    color: var(--mainBlack);
}

/*Part HEADER
=======================*/
header{
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 1;
}

.navbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainLightBeige);
}

.navbar-center{
    width: 100%;
    max-width: 1170px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon-bar, .fa-cart-plus{
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-btn{
    position: relative;
    cursor: pointer;
}

.cart-items{
    position: absolute;
    top: -9px;
    right: -9px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

/*END PART HEADER
=======================*/

/*PART ASIDE
=======================*/
aside{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transition: var(--mainTrainsition);
    background: var(--mainOverlay);
    z-index: 2;
    visibility: hidden;
}

.navbar-aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    z-index: 3;
    background: var(--mainLightBeige);
    transition: var(--mainTrainsition);
    transform: translateX(-100%);
}

.close-aside{
    font-size: 1.7rem;
    cursor: pointer;
}

.navbar-aside li{
    list-style: none;
    font-size: 24px;
    padding: 0.5em;
    border-bottom: 2px solid black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
}



.navbar-aside li:hover{
    color: var(--mainWhite);
    background: var(--primaryColor);
    transition: var(--mainTrainsition);
}

.fa-aside{
    margin-right: 10px;
}

@media screen and (min-width: 768px){
    .navbar-aside{
        width: 20vw;
        min-width: 450px;
    }
}

.showAside{
    transform: var(--mainTranslate);
    transition: var(--mainTrainsition);
}

.transparentBcg{
    visibility: visible;
}

/*END PART ASIDE
========================*/

/*PART BAN
=======================*/
.ban{
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banMain{
    background: url(../images/ban.jpg) center/cover no-repeat;
}

.banBedroom{
    background: url(../images/bedroom/product-1.jpeg) center/cover no-repeat;
}

.banKitchen{
    background: url(../images/kitchen/product-1.jpg) center/cover no-repeat;
}

.banLivingRoom{
    background: url(../images/livingRoom/product-1.jpg) center/cover no-repeat;
}


.banner{
    text-align: center;
    background: rgba(255, 255,255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.banner-title{
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 0.5em;
}

.banner-btn{
    font-size: 16px;
    padding: 1em 3em;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTrainsition);
    cursor: pointer;
}

.banner-btn:hover{
    background: transparent;
    color: var(--primaryColor);
}
/*END PART BAN
=======================*/

/*PART ABOUT
========================*/
.about{
    padding: 4rem 0;
}

.about-title h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 2em;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.about-container{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-column-gap: 1.5rem;
}

.about-img{
    display: block;
    width: 100%;
    min-height: 192px;
    padding: 0.5em;
}

.about-text{
    font-size: 21px;
    padding: 0.5em;
}
/*END PART ABOUT
=========================*/

/*PART PRODUCTS
=======================*/
.products{
    padding: 4rem 0; 
}

.section-title h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 2em;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container{
    position: relative;
    overflow: hidden;
}

.bag-btn{
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: 900;
    transition: var(--mainTrainsition);
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover{
    color: var(--mainWhite);
}

.img-container:hover .bag-btn{
    transform: translateX(0);
}

.product-img{
    display: block;
    width: 100%;
    min-height: 192px;
    transition: var(--mainTrainsition);
}

.img-container:hover .product-img{
    opacity: 0.5;
}

.product h3, .product h4{
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h3{
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 1em;  
}

.product h4{
    margin-top: 0.7rem;
    color: var(--primaryColor);
}

/*END PART PRODUCTS
=======================*/

/*PART CART
========================*/
.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: var(--mainOverlay);
    z-index: 4;
    visibility: hidden;
}

.cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 5;
    background: var(--mainLightBeige);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

@media screen and (min-width: 768px){
    .cart {
      width: 30vw;
      min-width: 450px;
    }
}

.showCart{
    transform: var(--mainTranslate);
    transition: var(--mainTrainsition);
}

.transparentBcg{
    visibility: visible;
}

.close-cart{
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2{
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img{
  width: 75px;
  height: 75px;
}

.cart-item h4{
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5{
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount{
  text-align: center;
}

.remove-item{
  color: grey;
  cursor: pointer;
}
.fa-chevron-up, .fa-chevron-down{
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer{
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
}
/*END PART CART
=============================*/

/*PART FOOTER
===============================*/
footer{
    background: var(--mainLightBeige);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem 0;
}

.container-footer{
    padding: 1rem 0;
}

.link-socials{
    font-size: 26px;
    padding: 0 1rem;
}

.copyright p{
    font-size: 18px;
    font-weight: 900;
}

.mention a{
    font-weight: 900;
}


/*END PART FOOTER
===============================*/


